<div class="page-content ">
    <section class="content">
        <div class="row news-page">

            <section class="news col-xs-12 col-md-10 col-md-offset-1 mdl-color--white mdl-shadow--2dp">

                <article class="mdl-color--primary">

                    <header>
                        <h3 class="mdl-typography--text-center mdl-typography--text-uppercase
                              mdl-color-text--white">Раздел в разработке
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                                    <!--<i class="material-icons">search</i>-->
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="sample6">
                                    <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                                </div>
                            </div>
                        </h3>
                    </header>

                </article>
                <section class="top-news">
                    <div class="row center-xs">
                        <div class="col-xs-12 col-sm-12 col-md-10">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 top-news--item">
                                    <a href="#">
                                        <figure class="mdl-typography--text-left">
                                            <img src="img/top-news-1.jpg" alt="">
                                            <figcaption>
                                                <h3 class="mdl-color-text--white">
                                                    «Учёные» ДВС - пережитки прошлого от которогу нужно избавляться</h3>
                                                <span class="date-in-top--news mdl-color-text--white
                                            mdl-typography--text-center">24.09.2016 19:23</span>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-4 top-news--item">
                                    <a href="#">
                                        <figure class="mdl-typography--text-left">
                                            <img src="img/top-news-2.jpg" alt="">
                                            <figcaption>
                                                <h3 class="mdl-color-text--white">
                                                    «Известия» в Англии снесли последнюю ТЭС. Далой нефть и уголь!</h3>
                                                <span class="date-in-top--news mdl-color-text--white
                                            mdl-typography--text-center">24.09.2016</span>
                                                <span class="time-in-top--news mdl-color-text--white
                                            mdl-typography--text-center">19:23</span>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-4 top-news--item">
                                    <a href="#">
                                        <figure class="mdl-typography--text-left">
                                            <img src="img/top-news-3.jpg" alt="">
                                            <figcaption>
                                                <h3 class="mdl-color-text--white">
                                                    «Прорыв» запуск 5G беспилотника GOOGLE интернет стал по насстоящему свободным</h3>
                                                <span class="date-in-top--news mdl-color-text--white
                                            mdl-typography--text-center">24.09.2016 19:23</span>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>




            </section>

        </div>

        <aside class="mdl-color--grey-900">
            <nav class="row center-lg user-menu mdl-color--grey-900">
                <div id="user" class="user-menu-item">
                    <a href="#"></a>
                    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="user">
                        Страница
                    </div>
                </div>
                <div id="friends"  class="user-menu-item">
                    <a href="#" class="showFriends"></a>
                    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="friends">
                        Друзья
                    </div>
                </div>
                <div  class="user-menu-item" id="mess">
                    <a href="#" data-badge="15" class="mdl-badge mdl-badge--overlap showMess">
                    </a>
                    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="mess">
                        Сообщения
                    </div>
                </div >
                <div  class="user-menu-item" id="set">
                    <a href="#"></a>
                    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" for="set">
                        Натройки
                    </div>
                </div>
            </nav>
        </aside>
    </section>
</div>