<div class="col-xs-12 col-md-8"><!-- Левая основная колонка -->
    <div class="content index">
        <div class="row">
            <div ng-repeat="organization in organizationsArray" class="col-xs-12 col-sx-6 col-md-4 cart-org repeated-item">
                <figure><a ui-sref="single-organization({orgID: organization.id})"><img ng-src="{{organization.image}}"></a></figure>
                <div class="cont-org">

                    <h2 ng-bind="organization.title"></h2>
                    <div ng-if="organization.phones.length > 0" class="l-adr" ng-repeat="phone in organization.phones"> <span class="icon-adr icon-phone-circled"></span><span class="text-adr" title="Телефон" ng-bind="phone"></span> </div>

                    <div ng-if="organization.Fax.length > 0" class="l-adr"> <span class="icon-adr icon-fax"></span><span class="text-adr" title="Факс" ng-bind="organization.Fax"></span> </div>
                    <div ng-if="organization.email.length > 0" class="l-adr"> <span class="icon-adr icon-email"></span><span class="text-adr" title="E-mail" ng-bind="organization.email"></span> </div>
                    <div  ng-if="organization.Skype.length > 0" class="l-adr"> <span class="icon-adr icon-skype"></span><span class="text-adr" title="Skype" ng-bind="organization.Skype"></span> </div>
                    <div ng-if="organization.Skype.siteURL > 0" class="l-adr"> <span class="icon-adr icon-globe"></span><span class="text-adr" title="Сайт"><a ng-href="{{organization.siteURL}}" target="_blank" ng-bind="organization.siteURL"></a></span> </div>
                    <div ng-if="organization.vkURL.length > 0" class="l-adr"> <span class="icon-adr icon-vkontakte"></span><span class="text-adr" title="В контакте"><a ng-href="{{organization.vkURL}}" target="_blank" ng-bind="organization.vkURL"></a></span> </div>
                    <div ng-if="organization.okURL.length > 0" class="l-adr"> <span class="icon-adr icon-odnoklassniki-rect"></span><span class="text-adr" title="Одноклассники"><a ng-href="{{organization.okURL}}" target="_blank" ng-bind="organization.okURL"></a></span> </div>
                    <div ng-if="organization.facebookURL.length > 0" class="l-adr"> <span class="icon-adr icon-facebook-rect"></span><span class="text-adr" title="facebook"><a ng-href="{{organization.facebookURL}}" target="_blank" ng-bind="organization.facebookURL"></a></span> </div>
                    <div ng-if="organization.twitterURL.length > 0" class="l-adr"> <span class="icon-adr  icon-twitter-squared"></span><span class="text-adr" title="Twitter"><a ng-href="{{organization.twitterURL}}" target="_blank" ng-bind="organization.twitterURL"></a></span> </div>
                    <div ng-if="organization.instagramURL.length > 0" class="l-adr"> <span class="icon-adr icon-instagram-filled"></span><span class="text-adr" title="Instagram"><a ng-href="{{organization.instagramURL}}" target="_blank" ng-bind="organization.instagramURL" ></a></span> </div>

                </div>
                <footer class="row news-f">
                    <div class="readmore col-xs">
                        <div class="read-t"><a ui-sref="single-organization({orgID: organization.id})" >Подробнее</a>
                            <div class="all-arrows">
                                <div class="ar-line-g"></div>
                                <div class="ar-line-t"></div>
                                <div class="ar-line-b"></div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<!--Конец Левая основная колонка -->
<!--Правая  колонка -->
<aside class="col-xs-12 col-md-3 col-md-offset-1">

    <!--Панель в правой колонке -->
    <div class="panel-right">

        <div class="block-r">
            <header class="row zr middle-xs">
                <div class="head col-xs">
                    <div class="v-line"></div>
                    <h2>Разделы</h2>
                </div>
            </header>
            <div class="cont-right-bl meny-r">
                <ul>
                    <!--ng-click="filterOrganizations(category)"-->
                    <li ng-repeat="singleCategory in organizationsCategories">

                        <a  ng-click="changeParent(singleCategory)" ng-class="category.term_id == singleCategory.term_id ? 'active' : ''" href="">
                            <span ng-bind="singleCategory.name"></span>
                        </a>

                        <ul>
                            <li ng-click="filterOrganizations(subCategory,true)" ng-repeat="subCategory in singleCategory.subCats">
                                <a ng-class="childCategory != undefined && childCategory.term_id == subCategory.term_id ? 'active' : ''" href="" >
                                    <span ng-bind-template="{{subCategory.name}}({{subCategory.count}}) "></span>
                                </a>
                            </li>
                        </ul>
                        <div ng-include="includeScriptsAcordion($index,organizationsCategories.length)">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--конец панель в правой колонке -->

    <div class="right">
        <div class="row">
            <!--Блок в правой колонке -->
            <div class="block-r col-xs">
                <header class="row zr middle-xs">
                    <div class="head col-xs">
                        <div class="v-line"></div>
                        <h2>3d Анадырь</h2>
                    </div>
                </header>
                <div class="cont-right-bl">
                    <figure><a href="http://3danadyr.ru/3/_html5/3.html" target="_blank" class="rekl-link"><img src="img/sidebar3.jpg"></a></figure>
                </div>
            </div>
            <!--конец Блок в правой колонке -->
            <!--Блок в правой колонке -->
            <div class="block-r col-xs">
                <header class="row zr middle-xs">
                    <div class="head col-xs">
                        <div class="v-line"></div>
                        <h2>Авиабилеты</h2>
                    </div>
                </header>
                <div class="cont-right-bl">
                    <figure><a href="#" class="rekl-link"><img src="img/r1.jpg"></a></figure>
                </div>
            </div>
            <!--конец Блок в правой колонке -->
            <!--Блок в правой колонке -->
            <div class="block-r col-xs">
                <header class="row zr middle-xs">
                    <div class="head col-xs">
                        <div class="v-line"></div>
                        <h2>Афиша</h2>
                    </div>
                </header>
                <div class="cont-right-bl">
                    <figure><a href="#" class="rekl-link"><img src="img/affors.jpg"></a></figure>
                </div>
            </div>
            <!--конец Блок в правой колонке -->
        </div>
    </div>
</aside>
<!--Правая  колонка -->

