<div>

    <div>
        <input  type="text" placeholder="Логин" ng-model="user.login"/>
    </div>
    <div>
        <input  type="text" placeholder="Имя" ng-model="user.firstName"/>
    </div>

    <div>
        <input  type="text" placeholder="Фамилия" ng-model="user.lastName"/>
    </div>

    <div>
        <input  type="password" placeholder="Пароль" ng-model="user.password"/>
    </div>

    <div>
        <input  type="password" placeholder="Подтвердите пароль" ng-model="user.confirmPassword"/>
    </div>

    <div>
        <input  type="text" placeholder="Введите email" ng-model="user.email"/>
    </div>

    <div>
        <button ng-click="Register()">Регистрация</button>
    </div>

</div>